
.playlist {
  @apply mb-3
}

.header {
  @apply flex items-center px-8 mb-2
}

.header > p {
  @apply text-white mr-4
}

.header > img {
  @apply rotate-90
}

.play {
  @apply w-6 h-6 rounded-full border border-white
}

.play img {
  @apply mx-auto
}

.content {
  @apply w-1/2
}

.content > p {
  @apply text-white truncate
}

.content > small {
  @apply text-white-500
}

.list {
  @apply max-h-[40rem] overflow-y-scroll
}

.body {
  @apply relative h-16 flex justify-between items-center py-2 px-4 border-b border-b-primary-500 text-sm cursor-pointer
}

.body > small {
  @apply text-white-500 mr-3
}

.body:hover {
  @apply bg-primary-300
}

.close {
  @apply absolute text-xs top-2 right-2 text-white-500
}

.arrow-rotate {
  transform: rotate(0deg) !important;
}

.image {
  display: block;
  width: 49px;
  height: 49px;
  position: relative;
  overflow: hidden;
}

.image:hover::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.image:hover::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  background: url("/src/assets/svg/play.svg") no-repeat;
  background-size: 8px;
  background-position: 8px 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}