@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap');

*, body * {
  /* @apply font-regular; */

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Noto Sans TC", "Open Sans", sans-serif;
}

body::-webkit-scrollbar, body *::-webkit-scrollbar {
  display: none;
}
