@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-100: #212235;
  --color-primary-200: #272a3d;
  --color-primary-300: #484764;
  --color-primary-400: #7600ae;
  --color-primary-500: #cdbbff33;

  --color-secondary: #ff0099;
  --color-secondary-100: #ff5e67;
}

*,
body * {
  /* @apply font-regular; */

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Noto Sans TC", "Open Sans", sans-serif;
}

body::-webkit-scrollbar,
body *::-webkit-scrollbar {
  display: none;
}
